@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.animated.zoomIn
{
    animation-duration: 0.5s;
}

#titulo
{
    font-size:40px;
    color:#000;
    font-weight: 400;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center; 
}
#sub
{
    height: 20px;
    color:rgba(22, 22, 22, 0.5);
    padding:20px;
    justify-content: center;
    align-items: center; 
}

.container
{
    background: #FFF;   
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.calculadora{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px;    
}

#textbox{
    margin-bottom: 20px;
}

#textbox:focus
{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    box-shadow: 0px 8px 30px rgba(199, 208, 248, 0.9);
}

.textview{
    text-align: right;
    width: 315px;
    height: 40px;
    border-radius: 10px;
    border:none;
    padding: 10px;    
    box-shadow: 0px 6px 26px rgba(199, 208, 248, 0.5);
    transition: 0.5s;
}

.textview:hover{    
    box-shadow: 0px 8px 30px rgba(199, 208, 248, 0.9);
}

.calculadora table{
    width: 100%;
    padding: 15px;
}

.calculadora td{ 
    max-width: 10px; 
}

.button{
    font-size: 20px;
    width: 100%;
    height: 70px;
    color:#FFF;
    background: #F15;
    box-shadow: 0px 6px 26px rgba(199, 17, 84, 0.5);
    border-radius:20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}



.button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 6px 26px rgba(199, 17, 84, 1);
}

.button:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#numeros
{
    background: #000;
    box-shadow: 0px 6px 26px rgba(22, 22, 22, 0.5);
}
#numeros:hover
{
    box-shadow: 0px 6px 26px rgba(22, 22, 22, 1);
}

#zero{
    background: #000;
    box-shadow: 0px 6px 26px rgba(22, 22, 22, 0.5);
}

#zero:hover{
    box-shadow: 0px 6px 26px rgba(22, 22, 22, 1);
}

#igual
{
    height: 150px;
}

.hist
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background: #fff;      
    padding:20px;
}

.hist h1
{
    padding: 20px;
}

#historico
{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius: 20px;
    width: 80%;
    overflow-y:auto;    
    height: 40vh;
    background: #fff;    
    box-shadow: 0px 8px 30px rgba(199, 208, 248, 0.9);
}

.histElement
{
    transition: 0.2s;
    color:#000;    
    padding:10px 10px 10px 20px;
    margin-top: 10px;
    border-radius:30px;    
    box-shadow: 0px 6px 21px rgba(199, 208, 248, 0.5);
}

.histElement:hover
{       
    border-radius:30px;
    color:#fff; 
    background-color: #F15;  
    box-shadow: 0px 8px 21px rgba(199, 17, 84, 0.5);
    cursor:pointer;    
}

.btnLimpar
{
    cursor: pointer;    
    border: none;
    margin: 10px;
    font-size: 16px;
    color: #000;    
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 8px 30px rgba(199, 208, 248, 0.9);
    padding: 10px 50px 10px 50px;
    transition: 0.2s;
}

.btnLimpar:hover{
    color:#fff; 
    background-color: #F15;  
    box-shadow: 0px 6px 21px rgba(199, 17, 84, 0.5);
}

.btnLimpar:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}